[submodule "network-manager"]
	path = libs/network-manager
	url = http://git.lan:9080/sadeq/network-manager.git
[submodule "app/CoreUI-QML"]
	path = libs/CoreUI-QML
	url = http://git.lan:9080/sadeq/CoreUI-QML.git
[submodule "libs/QGumboParser"]
	path = libs/QGumboParser
	url = https://github.com/sadeqAlbana/QGumboParser.git
[submodule "libs/SCodes"]
	path = libs/SCodes
	url = https://github.com/somcosoftware/SCodes.git
