[submodule "network-manager"]
	path = network-manager
	url = http://git.lan:9080/sadeq/network-manager.git
[submodule "pos-fe/coreui-qml"]
	path = pos-fe/coreui-qml
	url = http://git.lan:9080/sadeq/coreui-qml.git
