
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;
    font-size: {{body_font_size}};
}

p {
    padding: 1px;
    margin: 0;
    font-size: {{footer_font_size}};

}

header {
    width: 100%;
    align: center;
}

.receipt {
font-size: {{body_font_size}};
}

.boxed  {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 3px;
    padding-right: 3px;

    text-align: left;
}


.items_content{
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;

    text-align: center;

}
.align_center{
text-align: center;

}

.left_align{ /*used for totals*/
    text-align: left;
}

.bottom-note{
    font-size: {{footer_font_size}};
    text-align: center;
    font-weight: bold;
}



