
        body {
            margin: 0;
            padding: 0;
            font-family: 'PT Sans', sans-serif;
        }

/*@page {
     size: 2.8in 11in;
     margin-top: 0cm;
     margin-left: 0cm;
     margin-right: 0cm;
 }*/



        table {
            width: 100%;
        }

        header {
            width: 100%;
            text-align: center;
            align-content: center;
            vertical-align: middle;
        }

        .items thead {
            text-align: center;
        }



        .receipt {
            font-size: medium;
        }

        .items .heading {
            text-transform: uppercase;
            border-top: 1px solid black;
            margin-bottom: 4px;
            border-bottom: 1px solid black;
            vertical-align: middle;
        }

        .items td {
            text-align: center;
            vertical-align: bottom;
        }

        .dashed {
            border-top: 1px dashed black !important;
            border-bottom: 1px dashed black !important;
        }

        .dashed-bottom {
            border-bottom: 1px dashed black !important;
        }

        .line {
            border-top: 1px solid black !important;
        }

.boxed  {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: left;
}

.center-align {
    text-align: center;
}
        .left{
            text-align: left;
        }

        p {
            padding: 1px;
            margin: 0;
        }




